body {
	background: white;
	color: #808080;
	text-align:left;
	font-family:"Gravity", sans-serif;
	font-size:20px;
}

h1 {
	color: #404040;
	text-align: center;
    margin-right: 100px;
    margin-left: 120px;
}

h2 {
	color: #404040;
	text-align: left;
	font-size:18;
    margin-right: 100px;
    margin-left: 100px;
}

p {
	color: #808080
	font-size:14px;
    margin-right: 100px;
    margin-left: 100px;
}

footer {
	position:fixed;
	bottom:0;
	font-size: 14px;
	padding: 1%;
}

div {
    padding-right: 30px;
}

.center {
    display: block;
    margin-left: 100px
    margin-right: 100px;
    width: 50%;
}

#nav {
    	padding-right:0;
  	width: 100%; 
  	margin-left:0;
  	margin-right:0;  
	position: fixed;
	z-index: 10;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    top: 0;
    padding-top:20px;
}

li {
    float: left;
}

li a {
    display: block;
    color: #404040;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #427dd7;
    color: #f2f2f2;
} 

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add a black background color to the top navigation */
/*.topnav {
    background-color: #404040;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
/*.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}

/* Change the color of links on hover */
/*.topnav a:hover {
    background-color: #f2f2f2;
    color: black;
}

/* Add a color to the active/current link */
/*.topnav a.active {
    background-color: #427dd7;
    color: white;
}

/*.topnav {
    position: fixed;
    top: 0;
    width: 100%;
} */

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 5px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
